node_modules
.env
coverage
coverage.json
typechain
typechain-types
cache
artifacts
web/target
config.yaml
nohup.out
alien888
alien888_exe
target/
personal_notes/
web/assets/img/transparent_heros
web/assets/img/custom_avatars
web/*.db